.topbar {  
   font-weight: bold; 
   color: #FFFFFF; 
   font-family: Verdana, Arial, Helvetica, sans-serif; 
   font-size: 12px
}

.topbar a {
   color: white;
   text-decoration: none;
}

.topbar a:hover {
   color: red;
   text-decoration: underline;
}


.body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 12px
; clip:   rect(   )
}

h1 {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 18px;
  font-weight: bold;
  color: #9999CC
}

h2 {
  font-family: Verdana, Arial, Helvetica, sans-serif; 
  font-size: 16px;
  font-weight: bold;
  color: #9999CC
}

a.currentsection { border: dotted white; border-width: thin; padding: 2px 2px 2px 2px }

/* A table class copied from MediaWiki */
table.prettytable {
  margin: 1em 1em 1em 0;
  background: #f9f9f9;
  border: 1px #aaaaaa solid;
  border-collapse: collapse;
}

table.prettytable th, table.prettytable td {
  border: 1px #aaaaaa solid;
  padding: 0.2em;
}

table.prettytable th {
  background: #f2f2f2;
  text-align: center;
}

table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
  font-weight: bold;
}
