body {
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: small;
  line-height: 1.5em;
  background-color: #4B667B;
  margin: 0;
  padding: 0;
  color: #131A1F;
}

h1, h2 {
  font-weight: bold;
  color: #9999CC;
}

h1 {   
  font-size: large;
}

h2 {
  font-size: medium;
}

img {
  border: 0;
}

pre {
  font-size: small;
}

div#frame {
  width: 56em;
  margin: 1.0em auto;
  border: 0;
  -moz-border-radius: 10px;
  -webkit-border-radius: 10px;
}

div#content {
 padding: 1.0em 1.2em 4.0em 1.2em;
 background-color: #FFFFFF;
 -moz-border-radius-bottomleft: 10px;
 -moz-border-radius-bottomright: 10px;
 -webkit-border-bottom-left-radius: 10px;
 -webkit-border-bottom-right-radius: 10px;
}

div#header {
  display: table;
  width: 100%;
  background-color: #4B667B;
  font-weight: bold; 
}

#header ul {
  display: table-row;
  width: 100%;
  height: 2.0em;        /* keep these two heights equal in order */
  line-height: 2.0em;   /* to centre the text in the header */
  text-align: center;
  background-color: #F5F92B;
  margin: 0;
  padding: 0;
  border: 0;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

#header li {
  display: table-cell;
  height: 100%;
  list-style: none;
  padding: 0;
  border-color: #BCC7CE;
  border-style: solid;
  border-width: 0 0 1px 1px; 
  background-color: #F5F92B;
  -moz-border-radius-topleft: 10px;
  -moz-border-radius-topright: 10px;
  -webkit-border-top-left-radius: 10px;
  -webkit-border-top-right-radius: 10px;
}

#header li:hover {
  background-color: #FBFD96;
}

#header li:first-child {
  border-left-width: 0;  /* won't work in IE6, but too bad */
}

#header li.currentsection {
  background-color: #FFFFFF;
  border-bottom-width: 0;
}

#header a {
  display: block;   /* so that the link is active for the  */ 
  height: 100%;     /* whole of the tab, not just the text */ 
}

#header a:link {
  color: #4B667B;
  text-decoration: none;
}

#header a:visited {
  color: #4B667B;
  text-decoration: none;
}

#header a:hover {
  color: #384D5C;
  text-decoration: underline;
}

div#title {
  width: 100%;
  padding-top: 0.8em;
  background-color: #FFFFFF;
}

#title h1 {
  display: inline;
  vertical-align: middle;
}

#title img {
  display: inline;
  vertical-align: middle;
  margin-left: 0.8em;
}

#screen_shots img {
  margin: 5px;
  border: 1px solid #9AAAB5;
}

div.ss_large {
  position: absolute;
  left: 0;
  width: 100%;
  text-align: center;
}

.ss_large img {
  border: 1px solid #9AAAB5;
}

img#features {
  float: right;
  margin: 0.4em 0.5em;
}

img#download {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* A table class copied from MediaWiki and modified */
table.prettytable {
  margin: 2em 1em 0 0;
  background: #F2F4F6;
  border: 1px #A6B3BE solid;
  border-collapse: separate;
  border-spacing: 0;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
}

table.prettytable th, table.prettytable td {
  border-color: #A6B3BE;
  border-style: solid;
  border-width: 0;
  padding: 0.2em 0.5em;
}

table.prettytable td {
  border-top-width: 1px;
}

table.prettytable th:first-child {
  border-right-width: 1px;
  -moz-border-radius-topleft: 7px;
  -webkit-border-top-left-radius: 7px;
}

table.prettytable th + th {
  -moz-border-radius-topright: 7px;
  -webkit-border-top-right-radius: 7px;
}

table.prettytable td:first-child {
  border-right-width: 1px;
}

table.prettytable th {
  background: #D3DADF;
  text-align: center;
}

table.prettytable caption {
  margin-left: inherit;
  margin-right: inherit;
  font-weight: bold;
}
